@font-face {
  font-family: 'fonicon';
  src: url('https://namdev23.github.io/Fonicon/fonicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
fonicon[icon^="fon-"]::before {
  font-family: "fonicon";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fonicon {
  animation: ease infinite;
}

fonicon[animation*="-xxslow"] {
  animation-duration: 3s;
}
fonicon[animation*="-xslow"] {
  animation-duration: 2.5s;
}
fonicon[animation*="-slow"] {
  animation-duration: 2s;
}
fonicon[animation*="-semislow"] {
  animation-duration: 1.5s;
}
fonicon[animation*="-semifast"] {
  animation-duration: .75s;
}
fonicon[animation*="-fast"] {
  animation-duration: .5s;
}
fonicon[animation*="-xfast"] {
  animation-duration: .25s;
}
fonicon[animation*="-xxfast"] {
  animation-duration: .125s;
}
fonicon[animation$="-reverse"] {
  animation-fill-mode: backwards;
}

fonicon[animation^="spin"] {
  animation-name: spin;
  animation-timing-function: linear;
}
fonicon[animation^="ltfade"] {
  animation-name: ltfade;
}
fonicon[animation^="mdfade"] {
  animation-name: mdfade;
}
fonicon[animation^="hvfade"] {
  animation-name: hvfade;
}
fonicon[animation^="ulfade"] {
  animation-name: ulfade;
}
fonicon[animation^="smallerbeat"] {
  animation-name: smallerbeat;
}
fonicon[animation^="blbeat"] {
  animation-name: blbeat;
}
fonicon[animation^="biggerbeat"] {
  animation-name: biggerbeat;
}
fonicon[animation^="fadebeat"] {
  animation-name: fadebeat;
}
fonicon[animation^="flipX"] {
  animation-name: flipX;
}
fonicon[animation^="flipY"] {
  animation-name: flipY;
}

@keyframes spin {
  0% {transform: rotateZ(0)}
  100% {transform: rotateZ(360deg)}
}
@keyframes ltfade {
  0% {opacity: 1}
  50% {opacity: 0.75}
  100% {opacity: 1}
}
@keyframes mdfade {
  0% {opacity: 1}
  50% {opacity: 0.5}
  100% {opacity: 1}
}
@keyframes hvfade {
  0% {opacity: 1}
  50% {opacity: 0.25}
  100% {opacity: 1}
}
@keyframes ulfade {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
@keyframes smallerbeat {
  0% {scale: 1}
  50% {scale: .6}
  100% {scale: 1}
}
@keyframes blbeat {
  0% {scale: 1.2}
  50% {scale: .8}
  100% {scale: 1.2}
}
@keyframes biggerbeat {
  0% {scale: 1.4}
  50% {scale: 1}
  100% {scale: 1.4}
}
@keyframes fadebeat {
  0% {opacity: 1; scale: 1.2}
  50% {opacity: 0.5; scale: .8}
  100% {opacity: 1; scale: 1.2}
}
@keyframes flipX {
  0% {transform: rotateX(0);}
  50% {opacity: rotateX(180deg);}
  100% {opacity: rotateX(360deg);}
}
@keyframes flipY {
  0% {transform: rotateY(0);}
  50% {opacity: rotateY(180deg);}
  100% {opacity: rotateY(360deg);}
}

fonicon[icon$="bars"]::before { content: "\f000";}
fonicon[icon$="folder-open-outline"]::before { content: "\f001";}
fonicon[icon$="folder-outline"]::before { content: "\f002";}
fonicon[icon$="grid-4-outline"]::before { content: "\f003";}
fonicon[icon$="house-2-outline"]::before { content: '\f004'; }
fonicon[icon$="house-outline"]::before { content: '\f005'; }
fonicon[icon$="magnifying-glass"]::before { content: '\f006'; }
fonicon[icon$="towers-outline"]::before { content: '\f007'; }