:root {
  --primary-color: inherit;
  --secondary-color: inherit;
  --primary-opacity: 1;
  --secondary-opacity: 0.4;
}
@font-face {
  font-family: "Foricon Alpha 8";
  src: url("//foricon-src.github.io/main/A8-81905/alpha8.ttf");
  font-weight: normal;
  font-style: normal;
}

f-icon {
  animation: 1s ease infinite;
  position: relative;
  display: inline-flex;
}
f-icon::before, f-icon::after {
  font-family: "Foricon Alpha 8";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
f-icon::before {
  color: var(--primary-color);
}
f-icon[type^="duotone/"]::before, f-icon[reverse][type^="duotone/"]::after {
  opacity: var(--primary-opacity);
}
f-icon[type^="duotone/"]::after, f-icon[reverse][type^="duotone/"]::before {
  color: var(--secondary-color);
  opacity: var(--secondary-opacity);
}
f-icon[type^="duotone/"]::after {
  position: absolute;
  left: 0
}

f-icon[animation*="-xxslow"] {
  animation-duration: 3s;
}
f-icon[animation*="-xslow"] {
  animation-duration: 2.5s;
}
f-icon[animation*="-slow"] {
  animation-duration: 2s;
}
f-icon[animation*="-semislow"] {
  animation-duration: 1.5s;
}
f-icon[animation*="-semifast"] {
  animation-duration: .75s;
}
f-icon[animation*="-fast"] {
  animation-duration: .5s;
}
f-icon[animation*="-xfast"] {
  animation-duration: .25s;
}
f-icon[animation*="-xxfast"] {
  animation-duration: .125s;
}

f-icon[animation^="spin"] {
  animation-name: spin;
  animation-timing-function: linear;
}
f-icon[animation^="spin-reverse"] {
  animation-direction: reverse;
}
f-icon[animation^="ltfade"] {
  animation-name: ltfade;
}
f-icon[animation^="mdfade"], f-icon[animation^="fade"] {
  animation-name: mdfade;
}
f-icon[animation^="hvfade"] {
  animation-name: hvfade;
}
f-icon[animation^="ulfade"] {
  animation-name: ulfade;
}
f-icon[animation^="csfade"] {
  animation-name: csfade;
}
f-icon[animation^="smbeat"] {
  animation-name: smbeat;
}
f-icon[animation^="blbeat"], f-icon[animation^="beat"] {
  animation-name: blbeat;
}
f-icon[animation^="bgbeat"] {
  animation-name: bgbeat;
}
f-icon[animation^="fadebeat"] {
  animation-name: fadebeat;
}
f-icon[animation^="csbeat"] {
  animation-name: csbeat;
}
f-icon[animation^="flipX"] {
  animation-name: flipX;
}
f-icon[animation^="flipY"] {
  animation-name: flipY;
}
f-icon[animation^="flipXY"] {
  animation-name: flipXY;
}

f-icon[size="smallest"] {
  font-size: .25em !important;
}
f-icon[size="smaller"] {
  font-size: .5em !important;
}
f-icon[size="small"] {
  font-size: .75em !important;
}
f-icon[size="large"] {
  font-size: 1.25em !important;
}
f-icon[size="larger"] {
  font-size: 1.5em !important;
}
f-icon[size="largest"] {
  font-size: 1.75em !important;
}

f-icon[scale="xsmaller"] {
  scale: .5;
}
f-icon[scale="smaller"] {
  scale: .75;
}
f-icon[scale="larger"] {
  scale: 1.25;
}
f-icon[scale="xlarger"] {
  scale: 1.5;
}

f-icon[rotate="90"] {
  rotate: 90deg;
}
f-icon[rotate="180"] {
  rotate: 180deg;
}
f-icon[rotate="270"] {
  rotate: 270deg;
}
f-icon[rotate="flipX"] {
  transform: rotateX(180deg);
}
f-icon[rotate="flipY"] {
  transform: rotateY(180deg);
}

@keyframes spin {
  0% {rotate: z 0}
  100% {rotate: z 360deg}
}
@keyframes ltfade {
  0% {opacity: 1}
  50% {opacity: 0.75}
  100% {opacity: 1}
}
@keyframes mdfade {
  0% {opacity: 1}
  50% {opacity: 0.5}
  100% {opacity: 1}
}
@keyframes hvfade {
  0% {opacity: 1}
  50% {opacity: 0.25}
  100% {opacity: 1}
}
@keyframes ulfade {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
@keyframes csfade {
  0% {opacity: var(--max)}
  50% {opacity: var(--min)}
  100% {opacity: var(--max)}
}
@keyframes smbeat {
  0% {scale: 1}
  50% {scale: .6}
  100% {scale: 1}
}
@keyframes blbeat {
  0% {scale: 1.2}
  50% {scale: .8}
  100% {scale: 1.2}
}
@keyframes bgbeat {
  0% {scale: 1.4}
  50% {scale: 1}
  100% {scale: 1.4}
}
@keyframes fadebeat {
  0% {opacity: 1; scale: 1.2}
  50% {opacity: 0.5; scale: .8}
  100% {opacity: 1; scale: 1.2}
}
@keyframes csbeat {
  0% {scale: var(--max)}
  50% {scale: var(--min)}
  100% {scale: var(--max)}
}
@keyframes flipX {
  0% {rotate: x 0;}
  50% {rotate: x 180deg;}
  100% {rotate: x 360deg;}
}
@keyframes flipY {
  0% {rotate: y 0;}
  50% {rotate: y 180deg;}
  100% {rotate: y 360deg;}
}
@keyframes flipXY {
  0% {transform: rotateX(0deg) rotateY(0deg);}
  50% {transform: rotateX(180deg) rotateY(180deg);}
  100% {transform: rotateX(360deg) rotateY(360deg);}
}

f-icon[icon="arrow-down"][type="outlined"]::before { content: '\e800'; }
f-icon[icon="arrow-up"][type="outlined"]::before { content: '\e809'; }
f-icon[icon="arrow-left"][type="outlined"]::before { content: '\e803'; }
f-icon[icon="arrow-right"][type="outlined"]::before { content: '\e804'; }
f-icon[icon="arrow-down-to-line"][type="outlined"]::before { content: '\e802'; }
f-icon[icon="arrow-up-from-line"][type="outlined"]::before { content: '\e80b'; }
f-icon[icon="arrow-right-to-line"][type="outlined"]::before { content: '\e808'; }
f-icon[icon="arrow-right-from-line"][type="outlined"]::before { content: '\e806'; }
f-icon[icon="arrow-down-to-bracket"][type="outlined"]::before { content: '\e801'; }
f-icon[icon="arrow-up-from-bracket"][type="outlined"]::before { content: '\e80a'; }
f-icon[icon="arrow-right-to-bracket"][type="outlined"]::before { content: '\e807'; }
f-icon[icon="arrow-right-from-bracket"][type="outlined"]::before { content: '\e805'; }
f-icon[icon="bars"][type="outlined"]::before { content: '\e80c'; }
f-icon[icon="bars"][type="duotone/outlined"]::before { content: '\e8a0'; }
f-icon[icon="bars"][type="duotone/outlined"]::after { content: '\e89f'; }
f-icon[icon="brush"]::before { content: '\e80d'; }
f-icon[icon="brush"][type="outlined"]::before { content: '\e811'; }
f-icon[icon="brush"]:is([type="duotone/filled"], [type="duotone/outlined"])::before { content: '\e80f'; }
f-icon[icon="brush"][type="duotone/filled"]::after { content: '\e810'; }
f-icon[icon="brush"][type="duotone/outlined"]::after { content: '\e80e'; }
f-icon[icon="circle-half"]::before { content: '\e812'; }
f-icon[icon="circle-half"][type="duotone/filled"]::before { content: '\e813'; }
f-icon[icon="circle-half"][type="duotone/filled"]::after { content: '\e814'; }
f-icon[icon="chevron-down"][type="outlined"]::before { content: '\e815'; }
f-icon[icon="chevron-up"][type="outlined"]::before { content: '\e81b'; }
f-icon[icon="chevron-left"][type="outlined"]::before { content: '\e817'; }
f-icon[icon="chevron-right"][type="outlined"]::before { content: '\e819'; }
f-icon[icon="chevron-down-small"][type="outlined"]::before { content: '\e816'; }
f-icon[icon="chevron-up-small"][type="outlined"]::before { content: '\e81c'; }
f-icon[icon="chevron-left-small"][type="outlined"]::before { content: '\e818'; }
f-icon[icon="chevron-right-small"][type="outlined"]::before { content: '\e81a'; }
f-icon[icon="eraser"]::before { content: '\e81d'; }
f-icon[icon="eraser"][type="duotone/filled"]::before { content: '\e81e'; }
f-icon[icon="eraser"][type="duotone/filled"]::after { content: '\e81f'; }
f-icon[icon="file"]::before { content: '\e820'; }
f-icon[icon="file"][type="outlined"]::before { content: '\e847'; }
f-icon[icon="file"][type="duotone/filled"]::before { content: '\e829'; }
f-icon[icon="file"][type="duotone/filled"]::after { content: '\e82a'; }
f-icon[icon="file-code"]::before { content: '\e821'; }
f-icon[icon="file-code"][type="outlined"]::before { content: '\e824'; }
f-icon[icon="file-code"][type="duotone/filled"]::before { content: '\e822'; }
f-icon[icon="file-code"][type="duotone/filled"]::after { content: '\e823'; }
f-icon[icon="file-download"]::before { content: '\e825'; }
f-icon[icon="file-download"][type="outlined"]::before { content: '\e828'; }
f-icon[icon="file-download"][type="duotone/filled"]::before { content: '\e826'; }
f-icon[icon="file-download"][type="duotone/filled"]::after { content: '\e827'; }
f-icon[icon="file-exclamation"]::before { content: '\e82b'; }
f-icon[icon="file-exclamation"][type="outlined"]::before { content: '\e82e'; }
f-icon[icon="file-exclamation"][type="duotone/filled"]::before { content: '\e82c'; }
f-icon[icon="file-exclamation"][type="duotone/filled"]::after { content: '\e82d'; }
f-icon[icon="file-export"]::before { content: '\e82f'; }
f-icon[icon="file-export"][type="outlined"]::before { content: '\e832'; }
f-icon[icon="file-export"][type="duotone/filled"]::before { content: '\e830'; }
f-icon[icon="file-export"][type="duotone/filled"]::after { content: '\e831'; }
f-icon[icon="file-image"]::before { content: '\e833'; }
f-icon[icon="file-image"][type="outlined"]::before { content: '\e836'; }
f-icon[icon="file-image"][type="duotone/filled"]::before { content: '\e834'; }
f-icon[icon="file-image"][type="duotone/filled"]::after { content: '\e835'; }
f-icon[icon="file-import"]::before { content: '\e837'; }
f-icon[icon="file-import"][type="outlined"]::before { content: '\e83a'; }
f-icon[icon="file-import"][type="duotone/filled"]::before { content: '\e838'; }
f-icon[icon="file-import"][type="duotone/filled"]::after { content: '\e839'; }
f-icon[icon="file-lines"]::before { content: '\e83b'; }
f-icon[icon="file-lines"][type="outlined"]::before { content: '\e83e'; }
f-icon[icon="file-lines"][type="duotone/filled"]::before { content: '\e83c'; }
f-icon[icon="file-lines"][type="duotone/filled"]::after { content: '\e83d'; }
f-icon[icon="file-lock"]::before { content: '\e83f'; }
f-icon[icon="file-lock"][type="outlined"]::before { content: '\e842'; }
f-icon[icon="file-lock"][type="duotone/filled"]::before { content: '\e840'; }
f-icon[icon="file-lock"][type="duotone/filled"]::after { content: '\e841'; }
f-icon[icon="file-music"]::before { content: '\e843'; }
f-icon[icon="file-music"][type="outlined"]::before { content: '\e846'; }
f-icon[icon="file-music"][type="duotone/filled"]::before { content: '\e844'; }
f-icon[icon="file-music"][type="duotone/filled"]::after { content: '\e845'; }
f-icon[icon="file-upload"]::before { content: '\e848'; }
f-icon[icon="file-upload"][type="outlined"]::before { content: '\e84b'; }
f-icon[icon="file-upload"][type="duotone/filled"]::before { content: '\e849'; }
f-icon[icon="file-upload"][type="duotone/filled"]::after { content: '\e84a'; }
f-icon[icon="file-video"]::before { content: '\e84c'; }
f-icon[icon="file-video"][type="outlined"]::before { content: '\e84f'; }
f-icon[icon="file-video"][type="duotone/filled"]::before { content: '\e84d'; }
f-icon[icon="file-video"][type="duotone/filled"]::after { content: '\e84e'; }
f-icon[icon="folder"]::before { content: '\e850'; }
f-icon[icon="folder"][type="outlined"]::before { content: '\e86c'; }
f-icon[icon="folder-bookmark"]::before  { content: '\e851'; }
f-icon[icon="folder-bookmark"][type="outlined"]::before { content: '\e857'; }
f-icon[icon="folder-bookmark"][type="duotone/filled"]::before  { content: '\e855'; }
f-icon[icon="folder-bookmark"][type="duotone/filled"]::after  { content: '\e856'; }
f-icon[icon="folder-bookmark-centered"]::before, f-icon[icon="folder-bookmark-centered"][type="duotone/filled"]::after { content: '\e852'; }
f-icon[icon="folder-bookmark-centered"][type="duotone/filled"]::before { content: '\e853'; }
f-icon[icon="folder-bookmark-centered"][type="outlined"]::before { content: '\e854'; }
f-icon[icon="folder-download"]::before, f-icon[icon="folder-download"][type="duotone/filled"]::after { content: '\e858'; }
f-icon[icon="folder-download"][type="duotone/filled"]::before { content: '\e859'; }
f-icon[icon="folder-download"][type="outlined"]::before { content: '\e85a'; }
f-icon[icon="folder-extension"]::before, f-icon[icon="folder-extension"][type="duotone/filled"]::after { content: '\e85b'; }
f-icon[icon="folder-extension"][type="duotone/filled"]::before { content: '\e85c'; }
f-icon[icon="folder-extension"][type="outlined"]::before { content: '\e85d'; }
f-icon[icon="folder-image"]::before { content: '\e85e'; }
f-icon[icon="folder-image"][type="outlined"]::before { content: '\e861'; }
f-icon[icon="folder-image"][type="duotone/filled"]::before { content: '\e85f'; }
f-icon[icon="folder-image"][type="duotone/filled"]::after { content: '\e860'; }
f-icon[icon="folder-lock"]::before, f-icon[icon="folder-lock"][type="duotone/filled"]::after { content: '\e862'; }
f-icon[icon="folder-lock"][type="duotone/filled"]::before { content: '\e863'; }
f-icon[icon="folder-lock"][type="outlined"]::before { content: '\e864'; }
f-icon[icon="folder-music"]::before, f-icon[icon="folder-music"][type="duotone/filled"]::after { content: '\e865'; }
f-icon[icon="folder-music"][type="duotone/filled"]::before { content: '\e866'; }
f-icon[icon="folder-music"][type="outlined"]::before { content: '\e867'; }
f-icon[icon="folder-open"]::before { content: '\e868'; }
f-icon[icon="folder-open"][type="outlined"]::before { content: '\e86b'; }
f-icon[icon="folder-open"][type="duotone/filled"]::before { content: '\e869'; }
f-icon[icon="folder-open"][type="duotone/filled"]::after { content: '\e86a'; }
f-icon[icon="folder-video"]::before, f-icon[icon="folder-video"][type="duotone/filled"]:after { content: '\e86d'; }
f-icon[icon="folder-video"][type="duotone/filled"]::before { content: '\e86e'; }
f-icon[icon="folder-video"][type="outlined"]::before { content: '\e86f'; }
f-icon[icon="grid-4"]::before { content: '\e870'; }
f-icon[icon="grid-4"][type="outlined"]::before { content: '\e875'; }
f-icon[icon="grid-4"][type="duotone/filled"]::before { content: '\e873'; }
f-icon[icon="grid-4"][type="duotone/filled"]::after { content: '\e874'; }
f-icon[icon="grid-4"][type="duotone/outlined"]::before { content: '\e871'; }
f-icon[icon="grid-4"][type="duotone/outlined"]::after { content: '\e872'; }
f-icon[icon="grid-9"]::before { content: '\e876'; }
f-icon[icon="grid-9"][type="outlined"]::before { content: '\e87b'; }
f-icon[icon="grid-9"][type="duotone/filled"]::before { content: '\e879'; }
f-icon[icon="grid-9"][type="duotone/filled"]::after { content: '\e87a'; }
f-icon[icon="grid-9"][type="duotone/outlined"]::before { content: '\e877'; }
f-icon[icon="grid-9"][type="duotone/outlined"]::after { content: '\e878'; }
f-icon[icon="layers"]::before { content: '\e881'; }
f-icon[icon="layers"][type="outlined"]::before { content: '\e886'; }
f-icon[icon="layers"][type="duotone/filled"]::before { content: '\e884'; }
f-icon[icon="layers"][type="duotone/filled"]::after { content: '\e885'; }
f-icon[icon="layers"][type="duotone/outlined"]::before { content: '\e882'; }
f-icon[icon="layers"][type="duotone/outlined"]::after { content: '\e883'; }
f-icon[icon="magnifying-glass"]::before { content: '\e887'; }
f-icon[icon="magnifying-glass"][type="outlined"]::before { content: '\e88c'; }
f-icon[icon="magnifying-glass"]:is([type="duotone/filled"], [type="duotone/outlined"])::before { content: '\e88a'; }
f-icon[icon="magnifying-glass"][type="duotone/filled"]::after { content: '\e88b'; }
f-icon[icon="magnifying-glass"][type="duotone/outlined"]::after { content: '\e889'; }
f-icon[icon="house"]::before { content: '\e87c'; }
f-icon[icon="house"][type="outlined"]::before { content: '\e880'; }
f-icon[icon="house-blank"]::before { content: '\e87d'; }
f-icon[icon="house-blank"][type="outlined"]::before { content: '\e87f'; }
f-icon[icon="house-blank-2"][type="outlined"]::before { content: '\e87e'; }
f-icon[icon="notdef"]::before { content: '\e88d'; }
f-icon[icon="pencil"]::before { content: '\e88e'; }
f-icon[icon="pencil"][type="outlined"]::before { content: '\e893'; }
f-icon[icon="pencil"][type="duotone/filled"]::before { content: '\e891'; }
f-icon[icon="pencil"][type="duotone/filled"]::after { content: '\e892'; }
f-icon[icon="pencil"][type="duotone/outlined"]::before { content: '\e88f'; }
f-icon[icon="pencil"][type="duotone/outlined"]::after { content: '\e890'; }
f-icon[icon="spinner-1p3"][type="outlined"]::before { content: '\e894'; }
f-icon[icon="spinner-3p4"][type="outlined"]::before { content: '\e895'; }
f-icon[icon="wifi"][type="outlined"]::before, f-icon[icon="wifi-slash"][type="duotone/outlined"]::after { content: '\e896'; }
f-icon[icon="wifi-average"][type="outlined"]::before, f-icon[icon="wifi-average"][type="duotone/outlined"]::before { content: '\e897'; }
f-icon[icon="wifi-weak"][type="outlined"]::before, f-icon[icon="wifi-weak"][type="duotone/outlined"]::before { content: '\e89d'; }
f-icon[icon="wifi-bad"][type="outlined"]::before, f-icon[icon="wifi-bad"][type="duotone/outlined"]::before { content: '\e899'; }
f-icon[icon="wifi-average"][type="duotone/outlined"]::after { content: '\e898'; }
f-icon[icon="wifi-weak"][type="duotone/outlined"]::after { content: '\e89e'; }
f-icon[icon="wifi-bad"][type="duotone/outlined"]::after { content: '\e89a'; }
f-icon[icon="wifi-slash"][type="outlined"]::before { content: '\e89b'; }
f-icon[icon="wifi-slash"][type="duotone/outlined"]::before { content: '\e89c'; }